<div class="container_form">        
        <img src="./img/icone-cadastro-realizado-com-sucesso-01.png" class="img-icon" alt="">
        <h1>Cadastrado realizado com Sucesso.</h1>
        <h4>Seu código é o <p>{{number}}</p></h4>
        <div class="submit">
            <input type="hidden" name="acao" value="enviar">
            <a href='/'>
                <button  e="submit" name="Submit"  class="submit_btn" >Inicio</button>
            </a>
        </div>
    </div>